html, body, #root, #root > * {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3 {
  color: #333;
}

a {
  color: #6980F3;
  text-decoration: none;
  cursor: pointer;
}

a:hover, a:visited, a:active {
  color: #6980F3;
}

a:hover {
  text-decoration: underline;
}

.appear-enter {
  opacity: 0.01;
  transform: scale(0.6);
}

.appear-enter.appear-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms ease-in, transform 150ms ease-in;
}

.appear-exit {
  opacity: 1;
  transform: scale(1);
}

.appear-exit.appear-exit-active {
  opacity: 0.01;
  transition: opacity 150ms ease-in, transform 100ms ease-in;
}
